{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      
      <a href="/blogs/{{blog.id}}">{{blog.posttitle}}</a>
    </h2>
    
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.entry}}
    </p>
        {{!-- <button  id={{blog.id}} class="deletePostBtn">Delete</button> --}}
  
<div>

        <button type="button" id ={{blog.id}} class= "form-group col-md-1 offset-1 deletePostBtn btn btn-dark mt-2">Delete</button>

</div>

  </div>
</div>
{{/each}}
  <script src="/js/delete.js"></script>
